@import './utils.scss';

.activity-detail{
    .chapter{
        display: flex;
    }
    @media (max-width: 700px){
        .chapter{
            display: block;
        }
    }

}

.chapter-detail{
    .files{
        display: flex;
    }
    @media (max-width: 700px){
        .files{
            display: block;
        }
    }
}