@import './utils.scss';

.activity-detail {
  .chapter {
    display: flex;
  }
  .article-grid {
    min-height: 300px;
  }

  .side {
    width: 200px;
    flex: none;
    margin: 10px;
    padding: 10px;
    margin-top: 0px;
    padding-top: 0px;
    border-left: 1px solid lightgray;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .description {
    width: 100%;
  }

  .chapters {
    flex: none;
  }

  @media (max-width: 700px) {
    .chapter {
      display: block;
    }
    .article-grid {
      flex-direction: column;
    }
    .particard {
      margin-bottom: 00px;
    }
    .side {
      order: 1;
      border: none;
      border-bottom: 1px solid lightgray;
      width: 100%;
      margin: 0px;
      margin-bottom: 10px;
      padding: 0px;
    }
    .description {
      order: 2;
    }
  }
}

.chapter-detail {
  .files {
    display: flex;
  }
  @media (max-width: 700px) {
    .files {
      display: block;
    }
  }
}
