@import './utils.scss';

.nav {
  display: flex;

  div:last-child {
    margin-left: auto;
    margin-right: 1rem;
  }
  .nav-link-logo {
    display: flex;
  }

  .less-then-tablet-show {
    display: none !important;
  }

  @media (max-width: $tablet-width) {
    .logo-tablet {
      width: 20px;
      object-fit: contain;
      margin: 0 15px 0 20px;
    }

    .less-then-tablet-show {
      display: flex !important;
    }

    .dropdown-HOME {
      display: none;
    }
  }
}
