@import './utils.scss';

.recent-box {
  width: 100%;
  max-width: 100%;
  .selector-box {
    display: flex;
    align-items: center;
    .selector {
      border-radius: 10px 10px 0 0;
      display: inline-block;
      overflow: hidden;
      .selector-item {
        display: inline-block;
        width: 100px;
        height: 25px;

        font-weight: 600;
        font-size: 12px;
        padding: 1px 5px;
        cursor: pointer;

        text-align: center;
        line-height: 25px;

        &.active {
          background: $black1;
          color: white;
        }

        &.inactive {
          background: $gray3;
          color: $gray-text;
        }
      }
    }

    .tip {
      display: inline-block;
      margin-left: 10px;
      font-size: 12px;
      font-weight: 400;
      color: gray;
    }
  }

  .content {
    padding: 10px;
    padding-bottom: 5px;
    border: 1px solid $gray2;
    border-radius: 0 14px 14px 14px;
    color: $black1;
    font-size: 12px;
    font-weight: 500;

    overflow-y: hidden;
    overflow-x: scroll;

    .no-card {
      display: flex;
      align-items: center;
      img {
        margin-right: 10px;
      }
    }
  }
}
