$app-box-radius: 20px;
$dropdown-menu-radius: 10px;
$card-radius: 0.8rem;
$mini-card-padding: 8px;
$sidebar-width: 250px;
$app-box-width: 80vw;

$tablet-width: 1024px;
$mid-width-4-chapter: 700px;

$gray1: #ebe9ef;
$gray2: #e0e0e0;
$gray3: #f3f3f3;
$gray-text: #afafb4;

$black1: #27242c;

@mixin box-shadow($radius) {
  background: #ffffff;
  border-radius: $radius;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

img[src$='.gif'],
img[src$='.png'] {
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}

* {
  box-sizing: inherit;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  // -webkit-user-select: none;
  // -moz-user-select: none;
  // -ms-user-select: none;
  // user-select: none;

  color: $black1;

  &::selection {
    background-color: $black1;
    color: white;
  }

  &::-webkit-scrollbar {
    // height: $scroll-width;
    border-radius: 10px;
    width: 5px;
    height: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $black1;
    border-radius: 10px;
    width: 10x;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    margin: 0 10px;
  }
}

.tooltip-container {
  position: relative;
  border: 0px;
  .custom-tooltip {
    padding: 3px 0;
    width: 100px; /* 툴팁 영역의 넓이를 설정 */
    background-color: $black1;
    color: #fff;
    border: 0px;
    text-align: center;
    border-radius: 6px;
    top: 100%;
    left: -50%;
    font-size: small;
    position: absolute; /* 절대 위치를 사용 */
    z-index: 100;
    opacity: 0;
    transform: scale(0, 0) rotate(20deg);
    transition: 100ms ease-in-out;
  }
  .custom-tooltip::after {
    position: absolute;
    top: -35%; /* 사각형 영역이 중앙에 오도록 위치 */
    right: 50%; /* 왼쪽에서 100% 위치에 오도록 위치 */
    content: ' ';

    border: 5px solid $black1;
    border-color: transparent transparent $black1 transparent;
  }
  &:hover {
    .custom-tooltip {
      opacity: 100;
      transform: scale(1, 1) rotate(0);
    }
  }
  .leader-tooltip {
    position: absolute;
    top: -40%;
    left: 25%;
  }
  .leader-tooltip::after {
    position: absolute;
    font-size: 16px;
    content: '👑';
  }
}

$scroll-width: 5px;
.horizontal-scroll {
  &::-webkit-scrollbar {
    height: $scroll-width;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $black1;
    border-radius: 10px;
    width: 200x;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    margin: 0 10px;
  }
}

// 멀티라인 말줄임 표시
// $line-cnt : 라인 수
// $line-height : line-height값
// 사용법 : @include ellipsis(3, 1.6em);
@mixin ellipsis($line-cnt, $line-height) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line-cnt; /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: $line-height;
  height: $line-height * $line-cnt; /* line-height 가 1.2em 이고 3라인을 자르기 때문에 height는 1.2em * 3 = 3.6em */
}

.dragable {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
