@import './utils.scss';

// className="participant-card inactive"
.participant-card {
  color: $black1;
  width: 100%;
  display: inline-block;
  flex-direction: column;
  // overflow: hidden;
  border: 1px solid $gray2;
  @include box-shadow(5px);
  box-shadow: none;
  padding: 10px;
  width: fit-content;
  &.inactive {
    filter: brightness(80%);
  }
}

.activity-form,
.chapter-form {
  width: 100%;
  label {
    margin-top: 1rem;
  }

  .date {
    label {
      margin-top: 0;
    }
  }
  .no-margin {
    margin-top: 0rem;
  }
  .rti--container {
    &:focus {
      outline: none;
    }
    font-size: 12px;
    .rti--tag {
      color: white;
    }
  }
  input,
  .input-box {
    width: 100%;
    padding: 4px;
    border-radius: 3px;
    border: 1.5px solid $gray-text;
    &:focus {
      outline: none;
    }
  }
  input[type='date'] {
    width: 150px;
    margin-left: 5px;
    margin-right: 5px;
  }

  select[name='type'] {
    margin-right: 20px;
  }

  .needed::after {
    content: '*';
    font-size: 10px;
    color: red;
  }

  .pw-label::after {
    content: ' *선택사항. 참여자가 챕터 작상할 때 필요합니다. ';
    font-size: 10px;
    color: blue;
  }
  textarea {
    width: 100%;
    padding: 4px;
    border-radius: 3px;
    border: 1.5px solid $gray-text;
    &:focus {
      outline: none;
    }
  }
  select {
    padding: 4px;
    border-radius: 3px;
    border: 1.5px solid $gray-text;
    &:focus {
      outline: none;
    }
  }
}

.writeResponse {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 28vh;
  .title {
    font-weight: 900;
    margin: 10px;
  }
  .body {
    .text {
      font-size: 14px;
    }
    .button {
      margin-top: 10px;
      display: flex;
      justify-content: space-around;
    }
  }
}
