@import './utils.scss';

.activity-form,
.chapter-form {
  width: 100%;
  label {
    margin-top: 1rem;
  }

  .date {
    label {
      margin-top: 0;
    }
  }
  .no-margin {
    margin-top: 0rem;
  }
  .rti--container {
    &:focus {
      outline: none;
    }
    font-size: 12px;
    .rti--tag {
      color: white;
    }
  }
  input {
    width: 100%;
    padding: 4px;
    border-radius: 3px;
    border: 1.5px solid $gray-text;
    &:focus {
      outline: none;
    }
  }
  input[type='date'] {
    width: 150px;
    display: block;
  }
  textarea {
    width: 100%;
    padding: 4px;
    border-radius: 3px;
    border: 1.5px solid $gray-text;
    &:focus {
      outline: none;
    }
  }
  select {
    padding: 4px;
    margin-left: 10px;
    border-radius: 3px;
    border: 1.5px solid $gray-text;
    &:focus {
      outline: none;
    }
  }
}

.writeResponse {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 28vh;
  .title {
    font-weight: 900;
    margin: 10px;
  }
  .body {
    .text {
      font-size: 14px;
    }
    .button {
      margin-top: 10px;
      display: flex;
      justify-content: space-around;
    }
  }
}
