@import './styles/utils.scss';

.app-container {
  width: 100%;
  height: fit-content;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  background-color: $gray1;
}

.app-box {
  width: $app-box-width;
  max-width: $app-box-width;
  min-height: 88vh;
  @include box-shadow($app-box-radius);
  box-shadow: none;
  margin: 5.5vh 0;
  @media (max-height: 850px) {
    margin: 50px 0;
  }

  overflow-x: hidden;
  display: flex;

  .sidebar-container {
    width: $sidebar-width;
    flex: none;
  }

  @media (max-width: $tablet-width) {
    .sidebar-container {
      display: none;
    }
  }
  .nav-main-container {
    width: 100%;
    max-width: 100%;
    .main {
      width: 100%;
      max-width: 100%;
    }
  }

  .sidebar-container + .nav-main-container {
    border-left: 1px solid $gray2;
  }
}

.nav-main-container {
  display: flex;
  flex-direction: column;
  .nav + .main {
    border-top: 1px solid $gray2;
  }
}
